@import '../colors.scss';
header{
    .contact-btn{
        &:hover{
            background-color: $primary_color;
            color: white;
            transition: all 500ms ease;
        }
    }
    
}